/*text-area 배경색*/
.text-area {
	-fx-background-color: blanchedalmond;
	-fx-font-fill:red;
}

/*scroll-pane 배경색*/
.text-area .scroll-pane {
	-fx-background-color: transparent;
}

/*viewport 배경색*/
.text-area .scroll-pane .viewport{
	-fx-background-color: transparent;
}

/*content 배경색*/
.text-area .scroll-pane .content{
	-fx-background-color: transparent;
}

#serverLog {
	-fx-font-size: 20.0;
	-fx-text-fill: black;
}
#connectionList{
	-fx-background-color: darkgray;
}

